{% extends "base.html" %}

{% block content %}
<h1 class="page-title">Create a New Story</h1>

<div class="form-card">
    <form method="POST">
        {% csrf_token %}

        <label class="form-label">Title</label>
        <input type="text" name="title" class="form-input" required>

        <label class="form-label">Description</label>
        <textarea name="description" rows="4" class="form-input"></textarea>

        <button type="submit" class="btn-primary">Create Story</button>
    </form>
</div>
{% endblock %}
